* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  max-width: 100%;
}

.current-weather-data {
  max-width: 100%;
  margin: 0 auto;
  height: 2em;
  background: #dfe6e9;
  display: flex;
  padding: 1em;
  justify-content: space-around;
}

.current-weather-bold {
  font-weight: 800
}

.feels-like{

}

.humidity {

}

.uv {

}

.cloud-cover {

}

/* .current-weather-ul {
  background: #dfe6e9;
  display: flex;
  flex-direction: row;
} */
