* {
  margin: 0;
  padding: 0;
}

.timeline {
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: 8em;
}

.timeline-container {
  justify-content: center;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
}

.timeline-container > span {
  width: 1.734vw;
  height: 100%;
  border-right: .1px solid grey;
  margin: 0;
  padding: 0;
}

.timeline-container span:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-right: 3px solid grey;
}
.timeline-container span:last-child {
  border-right: 0px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* Hours */

.hourly-visual {
  margin: 0 auto;
}

.timeline-div {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 85vw;
}
.timeline-display-hours {
  /* background: yellow; */
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  /* min-width: 85vw; */
  display: flex;
  flex-direction: row;
}


.timeline-display-hours-span {
  width: 100%;
}
.timeline-display-hours-span > span {

}

#timeline > span{

}


#twelve-timeline > span:nth-child(1){
  border-right: 1px solid grey;
}

.timeline-display-hours-span:last-child {
  border-right: 0px;
}
span.timeline-display-hours-span {
  border-right: 2px solid grey;
}

.color-box:nth-child(5n){
  border-right: 4px solid black;
  height: 9em;
}

/* .timeline-display-hours-span:first-of-type {
  margin-left: 21px;
} */
/* .timeline-display-hours-span:nth-child(n) {
  margin-left: 27px;
} */
/* .timeline-display-hours-span:nth-child(3n) {
  margin-right:17px;
} */
