* {
  margin: 0;
  padding: 0;
}

.twelve-timeline {
  padding: 2em;
  min-width: 85vw;
  margin: 0 auto;
}

.twelve-timeline-container {
  max-width: 90%;
  margin: 0 auto;
  justify-content: center;

  margin-top: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
}


.twelver-hr-timeline-display-hours {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
}

.twelve-hr-timeline-display-hours > span {
  /* min-width: 7.5%; */
  height: 100%;
  border-right: .1px solid grey;
  padding: 0;
  max-width: 12%;
  min-width: 9%;
}
.twelve-hr-timeline-display-hours-span:last-child {
  border-right: 0px;
}

.twelve-timeline-hours {
  max-width: 90%;
}

.twelve-timeline-container span:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

#twelve-timeline > span:nth-child(1){
  border-right: 1px solid grey;
}

.twelve-timeline-container span:last-child {
  border-right: 0px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}


/* Hours */

.twelve-hr-hourly-visual {
  max-width: 90%;
  margin: 0 auto;
}

.twelve-hr-timeline-div {
  /* display: flex; */
  max-width: 90%;
  margin: 0;
  padding: 0;
}
.twelve-hr-timeline-display-hours {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.twelve-timeline-container > span {
  width: 90%;
  min-width: 9%;
  border-right: .1px solid grey;
}

.twelve-hr-timeline-display-hours-span {
  border-right: .5px solid grey;
  /* min-width: 66.6px; */
  width: 100%;
  /* flex-direction: column; */
}

#twelve-timeline-div {
  margin: 0 auto;
  width: 100%;
}


@media (max-width:700px){
  .twelve-hr-timeline-display-hours-span {
    font-size: 12px;
  }
  .twelve-hr-timeline-display-hours-span > span {
    max-height:9em;
  }
  #twelve-timeline-div > div > span {
      height: 2.75em;
  }
}

@media (max-width: 500px){
  .twelve-hr-timeline-display-hours-span {
    font-size: 8px;
  }

}
