.timeline-24 {
  max-width: 90vw;
  margin: 0 auto;
}

#timeline-24 > span {
  width: 3.75vw;
}

#timeline-24 > span:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-right: 1px solid grey;
}
#timeline-24 > span:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 0 !important;
  border-right: 0 !important;
}
#timeline-24 > span:nth-child(4n) {
  border-right: 2px solid black;
  height: 9em;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#timeline-24 > span:last-child{
  height: 100%;
}

.timeline-container-24 {
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
}

.timeline-container-24 > span {
  width: 30%;
  height: 100%;
  border-right: .1px solid grey;
  margin: 0;
  padding: 0;
}

.timeline-24{
  margin:0 auto;
  margin-bottom: 4em;
}



.twenty-four-hour-timeline-display {
  height: 4em;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
}

.twenty-four-hour-timeline-display > span {
  height: 100%;
  padding: 0;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 10vw;
}

.twentyfour-timeline-hours {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  display: flex;
  flex-direction: row;
}


.twenty-four-hour-timeline-div {
  display: flex;
  margin-left: 0;
}

.twenty-four-hour-timeline-display > span:first-child {
  margin:0;
}
.twenty-four-hour-timeline-display > span:nth-child(2) {
  margin:0;
  padding-left: 3em;
}
.twenty-four-hour-timeline-display > span:nth-child(3) {
  /* margin-left: 3em; */
  margin: 0;
  padding-left: 4em;
}
.twenty-four-hour-timeline-display > span:nth-child(4) {
  margin: 0;
  padding-left: 4em;
}
.twenty-four-hour-timeline-display > span:nth-child(5) {
  margin: 0;
  padding-left: 5em;
  /* padding-left: 5em; */
}
.twenty-four-hour-timeline-display > span:nth-child(6) {
  margin-left: 4em;
  /* padding-left: 4em; */
}

/* .twenty-four-hour-timeline-display > span:last-child {
  padding-left: 0;
} */

/* adjusting margins for hours */



/* adjusting margins for timeline hours using media queries */


@media screen and (max-width: 2000px){
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 0;
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 2em;
  }
}

@media screen and (max-width: 1700px){
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 0;
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 2em;
  }
}
@media screen and (min-width: 1300px){
  .twenty-four-hour-timeline-display > span:nth-child(3) {
    margin: 0;
    margin-left: 0;
    padding-left: 5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 0;
    padding-left: 2em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(6) {
    padding-left: 2em;
  }
}


@media screen and (max-width: 1500px){
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 0;
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 2em;
  }
}
@media screen and (max-width: 1300px){
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 0;
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 2em;
  }
}

@media screen and (max-width: 1000px){
  .twenty-four-hour-timeline-display > span:nth-child(3) {
    margin: 0;
    margin-left: 1em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 2em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    margin-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(6) {
    margin-left: 1em;
  }
}
@media screen and (max-width: 900px){
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 12px;
  }
  .twenty-four-hour-timeline-display > span:nth-child(2) {
    padding-left: 1.5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(3) {
    padding-left: 1.5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 2em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    margin-left: 2em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(6) {
    margin-left: 2em;
  }
}

@media screen and (max-width: 800px){
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 12px;
  }
  .twenty-four-hour-timeline-display > span:nth-child(2) {
    padding-left: 1.5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 2em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 1em;
  }
}

@media screen and (max-width: 700px){
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 12px;
  }
  .twenty-four-hour-timeline-display > span:nth-child(2) {
    padding-left: 1.5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 1em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 1em;
  }
}

@media screen and (max-width: 500px){
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 10px;
  }
  .twenty-four-hour-timeline-display > span:nth-child(2) {
    padding-left: 1.5em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(3) {
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(4) {
    margin: 0;
    margin-left: 1em;
    padding-left: 0;
  }
  .twenty-four-hour-timeline-display > span:nth-child(5) {
    padding-left: 1em;
  }
  .twenty-four-hour-timeline-display > span:nth-child(6) {
    margin-left: 2em;
  }
}