.timeline-24 {
  max-width: 90vw;
  margin: 0 auto;
}

#timeline-24 > span {
  width: 3.75vw;
}

#timeline-24 > span:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-right: 1px solid grey;
}
#timeline-24 > span:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 0 !important;
  border-right: 0 !important;
}
#timeline-24 > span:nth-child(4n) {
  border-right: 5px solid black;
  height: 9em;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#timeline-24 > span:last-child{
  height: 100%;
}

.timeline-container-24 {
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
}

.timeline-container-24 > span {
  width: 30%;
  height: 100%;
  border-right: .1px solid grey;
  margin: 0;
  padding: 0;
}

.timeline-24{
  margin:0 auto;
  margin-bottom: 4em;
}


.twenty-four-hour-timeline-display {
  height: 4em;
  min-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
}

.twenty-four-hour-timeline-display > span {
  height: 100%;
  padding: 0;
  justify-content: space-between;
  margin: 0 auto;
}

.twentyfour-timeline-hours {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  display: flex;
  flex-direction: row;
}


.twenty-four-hour-timeline-div {
  display: flex;
  margin-left: 0;
}

.twenty-four-hour-timeline-display > span:last-child {
  padding-left: 0;
}

/* adjusting margins for hours */

.twenty-four-hour-timeline-display > #span24-0{
  margin-left: 4%;
}


/* adjusting margins for timeline hours using media queries */

@media (min-width: 1400px){
  .twenty-four-hour-timeline-display > #span24-2 {
  }
  .twenty-four-hour-timeline-display > #span24-4, #span24-5, #span24-6 {
  }
}

@media (min-width: 1000px) and (max-width: 1399px){
  #timeline-24 > span:nth-child(4n) {
    height: 8.5em;

  }
  #timeline-24 > span:last-child {
    height: 100%;
  }

  .twenty-four-hour-timeline-display > span {
    font-size: 14px;
  }
}

@media (max-width:999px){
  .twenty-four-hour-timeline-display > span{
    font-size: 12px;
  }
  .twenty-four-hour-timeline-display > #span24-1{
    margin-left: 5.5%;
  }
  .twenty-four-hour-timeline-display > #span24-2{
    margin-left: 6%;
  }
  .twenty-four-hour-timeline-display > #span24-0{
    margin-left: 5%;
  }
}

@media (max-width:700px){
  .twenty-four-hour-timeline-display > #span24-2{
    margin-left: 4%;
  }
}

@media (max-width:600px){
  .twenty-four-hour-timeline-display > span{
    font-size: 8px;
  }

  .twenty-four-hour-timeline-display > span{
    font-size: 8px;
  }
  #timeline-24 > span:nth-child(4n) {
    height: 8em;
  }
  #timeline-24 > span:last-child {
    height: 100%;
  }
  .twenty-four-hour-timeline-display > #span24-2{
    margin-left: 1.5em;
  }
}
