.timeline-24 {
  max-width: 90vw;
  margin: 0 auto;
}

#timeline-24 > span {
  width: 3.75vw;
}

#timeline-24 > span:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-right: 1px solid grey;
}
#timeline-24 > span:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 0 !important;
  border-right: 0 !important;
}
#timeline-24 > span:nth-child(4n) {
  border-right: 2px solid black;
  height: 9em;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#timeline-24 > span:last-child{
  height: 100%;
}

.timeline-container-24 {
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 2em;
  height: 5em;
  display: flex;
  flex-direction: row;
}

.timeline-container-24 > span {
  width: 30%;
  height: 100%;
  border-right: .1px solid grey;
  margin: 0;
  padding: 0;
}

.timeline-24{
  margin:0 auto;
  margin-bottom: 4em;
}



.twenty-four-hour-timeline-display {
  height: 4em;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
}

/*  */
/* Hour-ranges for 24-hour timeline */
/*  */
.twenty-four-hour-timeline-display > span {
  height: 100%;
  padding: 0;
  justify-content: space-around;
  margin: 0 auto;
  width: 14%;
}

.twentyfour-timeline-hours {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 3em;
  display: flex;
  flex-direction: row;
}


.twenty-four-hour-timeline-div {
  display: flex;
  margin-left: 0;
}



@media (max-width:900px) {
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 14px;
  }
}

@media (max-width:700px) {
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 14px;
  }
}

@media (max-width:600px) {
  .twenty-four-hr-timeline-display-hours-span {
    font-size: 10px;
  }
}